<tr>
	<td><%= comment.commenter %></td>
	<td><%= comment.body %></td>
	<td><%= link_to 'Remove Member', [comment.article, comment],
	             method: :delete,
				 data: { confirm: 'Permanently remove this member from Rotation?'} %></td>
</tr>

