<!-- <img src="apple-icon-60x60.png" alt="logo" height="40" width="40">  -->
<div class = "rfont">
<h1><%= image_tag('logo.png') %> Rotate!</h1>
<h1>Welcome</h1>
<p>Rotate! helps you keep track of who's turn it is to: </p>
	<ul>
		<li>buy lunch</li>
		<li>pick the movie</li>
		<li>take out the trash</li>
		<li>or whatever you choose...</li>
		</ul>

<h3>Go to your
<%= link_to 'Rotations', controller: 'articles' %>
</h3>
</div>
